<mat-list role="list">
    <mat-list-item *ngFor="let item of postList; let i=index" role="listitem">
        <div class="flex-container-center">
            <div class="initialsOut"></div>
            <div class="posts-container">
                <div mat-line class="text-bold-title poppins-bold">{{item.title}}</div>
                <div mat-line class="text-body poppins-regular"> {{item.body}} </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </mat-list-item>

</mat-list>